.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.pac-item {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #e0e0e0;
}

.pac-item-query {
  font-weight: bold;
}

.pac-matched {
  color: #ff5722;
}

.map-container {
  height: 300px;
  width: 100%;
}

.info-window-container {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
}

.info-window-description {
  margin: 0;
  padding: 0;
  width: 180px;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #333;
}

.info-window-link {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

.info-window-link-text {
  color: #1a73e8;
  text-decoration: none;
}

.info-window-link-text:hover {
  text-decoration: underline;
}

.event-section img {
  width: 96%;
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes extra space below the image */
  margin-bottom: 20px;
  margin: 0 auto 20px auto; /* Center image horizontally and add bottom margin */
  border-radius: 6px; /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  align-items: center;
}
