{% load static %} {% load static_manifest %} {% csrf_token %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React App</title>

    <script>
      window.CSRF_TOKEN = '{{ csrf_token }}';
      window.REACT_BASENAME = '{{ REACT_BASENAME }}';
      window.DOMAIN = '{{ DOMAIN }}';
    </script>

    <link rel="stylesheet" href="{% get_manifest_file 'main.css' %}" />
  </head>
  <body>
    <div id="root"></div>
    <script src="{% get_manifest_file 'main.js' %}"></script>
  </body>
</html>
